h1 {
  font-family: Cambria, Georgia, serif;
  font-size: 3rem;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  font-family: Cambria, Georgia, serif;
  font-size: 1.5rem;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 15.4px;
}

h3 {
  font-family: Cambria, Georgia, serif;
  font-size: 1rem;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 15.4px;
}

p {
  font-family: Cambria, Georgia, serif;
  font-size: 1rem;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}

blockquote {
  font-family: Cambria, Georgia, serif;
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}

pre {
  font-family: Cambria, Georgia, serif;
  font-size: 0.8rem;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px;
}

.navbar {
  background-color: #990000;
  font-family: Cambria !important;
}

/* img{
  height: 200px;
} */
.intro {
  background-color: #990000;
  color: white;
  /* position: fixed; */
  padding-top: 30px;
  width: 100%;
  margin: 0 auto 0 auto;
  text-align: center;
}

.introtable {
  width: 100%
}

.profilephoto {
  width: 20%;
}

.photo {
  width: 100%;
  margin-right: 5%;
  padding-left: 0;
}

.intro_right {
  line-height: 2;
}

.intro_right_right {
  line-height: 1;
}

.linkedin {
  font-size: 1.8rem;
  height: 2.7rem;
  padding-top: 1rem;
  width: auto;
  cursor: pointer;
}

.linkedin:hover {
  background-color: white;
  color: #990000;
}

.hide_intro {
  background-color: #990000;
  color: white;
  font-size: 0.5rem;
  font-family: Cambria, Georgia, serif;
  text-align: center;
  cursor: pointer;
}

/* .clickable:hover {
  background-color: white;
  color: #990000;
} */
.center {
  text-align: center;
}

.container-fluid-custom {
  padding: 3% 10%;
}

.experienceplus {
  line-height: 1.3;
  font-size: 1.2rem;
  width: 100%;
  margin: 0 auto 0 auto;
}

.title {
  text-align: center;
}

.table_right {
  position: relative;
  left: 100px;
  text-align: right;
  line-height: 1.5;
}

.contact-me {
  background-color: #990000;
  text-align: center;
}

.copyright {
  background-color: #990000;
  color: white;
  text-align: center;
  padding-top: 0.1rem;
  padding-bottom: 0.2rem;
}